*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   background-repeat: no-repeat;
  background-position: center;
  transition: 0.9s ease;
}
:root{
--Blue:hsl(231, 69%, 60%);
--Red:hsl(0, 94%, 66%);
--Grey50: hsl(0, 0%, 97%);
--Blue950: hsl(229, 31%, 21%);
}
h1{
  color: var(--Blue950);
}
.glass-card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
   width:100%;
}
.Toplogo{
  background-image: url("../assets/images/logo-bookmark.svg");
  background-size: contain;
}
.Segment1bg{
  background-image: url('../assets/images/illustration-hero.svg');
  background-size:100%;
}
.Segment1bg::after{
  position:absolute;
  content: " ";
  background-color: var(--Blue);
  height: 170px;width: 80%;
  z-index:-1;
  border-bottom-left-radius: 80px;
   border-top-left-radius: 80px;
  right: 0;
  bottom: 0;
}
.Segment1decr{
  width:90%;
  margin-left: 5%;
}
.Get{
  width: 90%;
  margin-left:5%;
}
.Get>div{
  width: 50%;
  border-radius:8px;
}
hr{
  width: 90%;
}
.bg-tab1,
.bg-tab2,
.bg-tab3{
   height: 180px;
  width: 80%;
  overflow: hidden;
  background-size: 90%;
}
.bg-tab1{
  background-image:url("../assets/images/illustration-features-tab-1.svg");
}
.bg-tab2{
 background-image:url("../assets/images/illustration-features-tab-2.svg");
}
.bg-tab3{
 background-image:url("../assets/images/illustration-features-tab-3.svg");
}
.bg-tab1::after,
.bg-tab2::after,
.bg-tab3::after
{
position:absolute;
  content: " ";
  background-color: var(--Blue);
  height: 170px;width: 80%;
  z-index:-1;
  border-bottom-right-radius: 80px;
   border-top-right-radius: 80px;
  left: 0;
  top: 35px;
}
.extensions{
  width: 90%;
  margin-left:5%;
}
.logo-chrome{
  background-image:url("../assets/images/logo-chrome.svg");
}
.logo-firefox{
  background-image:url("../assets/images/logo-firefox.svg");
}
.logo-opera{
   background-image:url("../assets/images/logo-opera.svg");
}
.logo-chrome,
.logo-firefox,
.logo-opera{
  width: 100%;
  height: 100px;
}
.custom-hr{
  border:none;
  height: 20px;
  background-image:url("../assets/images/bg-dots.svg");
  background-position: center;
  width: 100%;
  overflow-x: hidden;
}
.faqs{
  color: var(--Blue950);
}
.footer,.Nav{
  background-color:var(--Blue950);
}
.footerLogo{
  background-image:url("../assets/images/logo-footer.svg");
  width: 200px;height:120px;
  z-index: 10;
}
.facebook,
.twitter{
  width: 60px;height:60px;
}
.facebook{
background-image:url("../assets/images/icon-facebook.svg");
}
.twitter{
background-image:url("../assets/images/icon-twitter.svg"); 
}
.Navlogo{
  background-image: url('../assets/images/logo-Nav.svg');
  width: 200px;height:40px;
  background-position: left;
}
.navLink:hover{
  padding: 12px 35%;
  border: 3px solid white;
  border-radius: 10px;
  display: block;
  text-align: center;
}

